#home {
    height:83vh;
    padding:0;
}

#search-home {
    height: 60%;
    background-color: whitesmoke;
}

.sb-section {
    margin-left: auto;
    margin-right: auto;
    padding-top:28vh;
    width: 80%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.card-cat {
    margin-left: auto;
    margin-right: auto;
}