.select-category {
    border-radius: 3rem 0 0 3rem;
    -moz-border-radius: 3rem 0 0 3rem;
    -webkit-border-radius: 3rem 0 0 3rem;
}

.icon-search {
    border-radius: 0 3rem 3rem 0;
    -moz-border-radius: 0 3rem 3rem 0;
    -webkit-border-radius: 0 3rem 3rem 0;
}
